.App {display: flex; background-color: aqua; height: fit-content;
  text-align: center;
}

.left-page{display: flex; flex-direction: column;}

img{max-height: 250px; border-radius: 5px; margin: 10px;}

