.App {
  display: flex;
  background-color: aqua;
  height: fit-content;
  text-align: center;
}

.heightOfPage {
  display: flex;
}

.left-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.title {
  font-size: 50px;
}

.right-page {
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30%;
}

.basket-title {
  padding: 10px;
  margin: 5px;
  font-size: 25px;
}
.basket-item {
  padding: 5px;
  margin: 5px; 
  border: blue solid 20px;
}

Button {
  height: 90%;
}

.cat-container {
  margin: 5px;
  padding: 5px;
  height: 15em;
  width: 15em;
}

p {
  font-size: 80%;
  line-height: 5px;
}

img {
  border-radius: 5px;
  height: 50%;
  max-width: 100%;
}

.basket-total {
  padding: 10px;
  margin: 5px;
  justify-self: flex-end;
}


/* Pages navigation styling */
.pageNavDIV {
  background-color: black;
  height: max;
  padding: 0.10cm;
}

.pageNavUL {
  display: flex;
  justify-content: space-evenly;
}

.pageNavUL a {
  font-size: 0.5cm;
  text-align: left;
  text-decoration: none;
  color: white;
}

a:hover {
  color: aqua
}